/* ------------------------- */
/* Custom properties */
/* ------------------------- */

:root {
  --clr-orange: hsl(37, 98%, 54%);

  --clr-blue-800: hsl(206, 45%, 15%);
  --clr-blue-700: hsl(205, 30%, 27%);
  --clr-blue-600: hsl(203, 22%, 55%);
  --clr-blue-500: hsl(205, 37%, 55%);
  --clr-blue-400: hsl(203, 28%, 79%);
  --clr-blue-300: hsl(203, 25%, 90%);

  --clr-light-gray: hsl(0, 0%, 95%);
  --clr-white: hsl(0, 0%, 99%);

  --ff-main: 'Atkinson Hyperlegible', sans-serif;

  --fs-900: 3.5rem; /* 56px */
  --fs-800: 3rem; /* 48px */
  --fs-700: 2.75rem; /* 44px */
  --fs-600: 2.5rem; /* 40px */
  --fs-500: 2rem; /* 32px */
  --fs-400: 1.625rem; /* 26px */
  --fs-350: 1.5rem; /* 24px */
  --fs-300: 1.25rem; /* 20px */
  --fs-250: 1.125rem; /* 18px */
  --fs-200: 1rem; /* 16px */
  --fs-100: 0.9375rem; /* 15px */
  --fs-75: 0.875rem; /* 14px */
  --fs-50: 0.8125rem; /* 13px */

  --fw-bold: 700;

  --br-xs: 5px;
  --br-sm: 10px;
  --br-med: 20px;
  --br-lg: 26px;
}

/* Tablets */
/* @media (min-width: 35em) {
  :root {
  }
} */

/* Desktop */
/* @media (min-width: 45em) {
  :root {
  }
} */


/* ------------------------- */
/* CSS reset */
/* Credit: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* ------------------------- */

/* Use a more-intuitive box-sizing model */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Set default font size to user's preferences to allow for proper rem/em sizing */
:root {
    font-size: 100%;
}

/* Remove default margin*/
* {
    margin: 0;
}

/* Allow percentage-based heights in the application */
html, body {
    height: 100%;
}

/* Typographic tweaks! Add accessible line-height, improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Remove default styling on a */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows and set default font-weight */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: var(--lh-sm);    
}

/* Removes left padding on unordered lists */
ul {
    padding-left: 0;
}

/* Removes list style from li elements */
li {
    list-style: none;
}

/* Smaller line height for larger font sizes */
h1, h2, h3 {
    line-height: 1.1;
}

/* Hides overflow content on x and y axes */
body, html {
  overflow-x: hidden;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------- */
/* Utility classes */
/* ------------------------- */

/* general */ 
.flex {
  display: flex;
  gap: 0.5rem;
}

.grid {
  display: grid;
  gap: 0.75rem;
}

.modal {
  padding: 1.5rem;
  border-radius: var(--br-sm);
}

/* applied to body when modals are visible */
.dark-background {
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* screen reader only, visually hides content for sighted users, but keep
that content in the page so that users with assisted technologies can see
more descriptive text  */ 
.sr-only { 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-blue-800 { background-color: var(--clr-blue-800);}
.bg-white { background-color: var(--clr-white);}
.bg-orange { background-color: var(--clr-orange);}

.text-blue-800 {color: var(--clr-blue-800);}
.text-blue-600 {color: var(--clr-blue-600);}
.text-white {color: var(--clr-white);}

 /* typography */
.ff-body { font-family: var(--ff-body);}

.fw-bold {font-weight: var(--fw-bold);}

/* links */
.link {
  font-size: var(--fs-200);
  border-radius: var(--br-med);
  border: none;
  padding-top: 0.75rem; /* 12px*/ 
  padding-bottom: 0.875rem; /* 14px */
  text-align: center;
}

.link-blue {
  background: var(--clr-blue-300);
  color: var(--clr-blue-700);
}

.link-orange {
  background: var(--clr-orange);
  color: var(--clr-white);
}

@media (min-width: 35em) {
  .link {
    font-size: var(--fs-300);
  }  
}

/* .link-blue:hover, .link-blue:focus {
  cursor: pointer;
  background: var(--clr-blue-500);
} */

/* modal text */
.modal-headline {
  margin-bottom: 1rem;
  color: var(--clr-blue-800);
  font-size: var(--fs-350);
}

.modal-info-box {
  background: var(--clr-blue-300);
  border-radius: var(--br-xs);
  padding: 1rem;
}

@media (min-width: 35em) {
  .modal-headline {
    font-size: var(--fs-800);
    margin-top: 2.1875rem;
  }  
}
 
/* ------------------------- */
/* General styling */
/* ------------------------- */

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
  padding-inline: 1.5rem;
}

/* ------------------------- */
/* Gameboard styling */
/* ------------------------- */

.game {
  margin-bottom: 6.375rem;
}

.game__area {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: var(--clr-white);
  font-size: var(--fs-600);
}

.game__area div {
  background: var(--clr-blue-800);
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
}

.game__area div:hover,
.game__area div:focus {
  background: var(--clr-blue-500);
}

.game__area-item.flex {
  justify-content: center;
  align-items: center;
}

@media (min-width: 35em) {
  .game__area {
    max-width: 33.25rem;
    margin-inline: auto; 
    font-size: var(--fs-900);
  }  
}

/* ------------------------- */
/* Player info styling */
/* ------------------------- */

.player__info {
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.player__time, .player__moves {
  background: var(--clr-blue-300);
  padding: 0.6rem 0;
  border-radius: var(--br-xs);
  flex-direction: column;
}

.player__time > h2, .player__moves > h2 {
  font-size: var(--fs-100);
  color: var(--clr-blue-600);
}

.player__time > p, .player__moves > p {
  font-size: var(--fs-350);
  color: var(--clr-blue-700);
}

@media (min-width: 35em) {
  .player-info {
    max-width: 33.25rem;
    margin-inline: auto; 
  } 

  .player__info {
    gap: 2rem;
  }
  
  .player__time, .player__moves {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: var(--br-sm);
  }

  .player__time > h2, .player__moves > h2 {
    font-size: var(--fs-250);
  }

  .player__time > p, .player__moves > p {
    font-size: var(--fs-500);
  }
}

/* ------------------------- */
/* Navigation styling */
/* ------------------------- */

.header__title {
  font-size: var(--fs-350);
}

.header__gameboard {
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.link-menu {
  padding-inline: 1.15625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-radius: var(--br-lg);
}

/* Mobile nav */
@media (max-width: 44em) {
  #modal-container {
    position: absolute;
    top: 30%;
    width: 20.4375rem;
    margin-inline: auto;
    background: var(--clr-light-gray);
    padding: 1.5rem;
    border-radius: var(--br-sm);
    flex-direction: column;
  } 
  
  #modal-container[data-visible="true"] {
    transform: translateX(0);
  } 

  #modal-container[data-visible="false"] {
    transform: translateX(200%);
  }
}

@media (min-width: 35em) {
  .header__title {
    font-size: var(--fs-600);
  }
}

/* ------------------------- */
/* End game modal styling */
/* ------------------------- */

#end {
  position: absolute;
  top: 30%;
  width: 20.4375rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  background: var(--clr-light-gray);
  padding: 1.5rem;
  border-radius: var(--br-sm);
  flex-direction: column;
  /* transform: translateY(-200%); */
}

#end[data-visible="true"] {
  transform: translateX(0);
} 

#end[data-visible="false"] {
  transform: translateX(200%);
}

.end-results__description, .end-results__headline {
  text-align: center;
}

.end-results__description {
  color: var(--clr-blue-600);
  font-size: var(--fs-75);
  margin-bottom: 1.5rem;
}

.end-results__time, .end-results__moves {
  font-size: var(--fs-50);
  color: var(--clr-blue-600);
}

.end-results__time-dyn, .end-results__moves-dyn {
  font-size: var(--fs-300);
  color: var(--clr-blue-700);
}

.end-results__links {
  flex-direction: column;
  gap: 1rem;
}

.end-results__player-info {
  align-items: center;
  justify-content: space-between;
}

.end-results__player-info-time {
  margin-bottom: 0.5rem;
}

.end-results__player-info-moves {
  margin-bottom: 1.5rem;
}

@media (min-width: 35em) {
  #end {
    border-radius: var(--br-med);
    width: 40.875rem;
    transform: translateY(-150%);
    padding-inline: 3.5rem;
  }

  .end-results__description {
    font-size: var(--fs-250);
  }

  .end-results__time, .end-results__moves {
    font-size: var(--fs-250);
  }
  
  .end-results__time-dyn, .end-results__moves-dyn {
    font-size: var(--fs-500);
  }

  .end-results__links {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  .end-results__player-info {
    padding-inline: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .end-results__player-info-time {
    margin-bottom: 1rem;
  }

  .end-results__player-info-moves {
    margin-bottom: 2.5rem;
  }

  .end-results__links {
    margin-bottom: 2.8125rem;
  }
}


/* ------------------------- */
/* Start game modal styling */
/* ------------------------- */

/* .selected {
  background: var(--clr-blue-700);
} */
